<!doctype html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8" />
  <title>TODO</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>

<body style="padding:20px" ng-controller="myAppCtrl">

  <div>
    <h2 ng-if="countOpenTasks()>0">You've got
      <strong>{{countOpenTasks()}}</strong> things to do</h2>
    <h2 ng-if="countOpenTasks()==0">You don't have open tasks!</h2>
    <div>
      Show
      <div class="btn-group" role="group">
        <button id="filterTodo" ng-click="statusFilter={ status:'To do'}" type="button" class="btn btn-danger">
          To do
        </button>
        <button id="filterInprogress" ng-click="statusFilter={ status:'In progress'}" type="button" class="btn btn-warning">
          In progress
        </button>
        <button id="filterDone" ng-click="statusFilter={ status:'Done'}" type="button" class="btn btn-success">
          Done
        </button>
        <button id="filterDone" ng-click="statusFilter={}" type="button" class="btn">
          Clear filter
        </button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item clearfix" ng-repeat="task in tasks | filter: statusFilter">
        <div ng-controller="myController">
          <div my-task></div>
        </div>
      </li>
    </ul>

    <div class="input-group">
      <input type="text" ng-model="newDscr" class="form-control" placeholder="Write your todo task here..." />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="newTask()">
          Add
        </button>
      </span>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

</body>

</html>
