<span ng-click="showTask(task)">{{dirMsg}}</span>
<div class="btn-group pull-right" role="group">
  <button type="button" class="btn dropdown-toggle" ng-class="getClass(task)" data-toggle="dropdown" aria-expanded="false">
    {{task.status}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" ng-click="changeStatus(task, 'To do')">To do</a></li>
    <li><a href="#" ng-click="changeStatus(task, 'In progress')">In progress</a></li>
    <li><a href="#" ng-click="changeStatus(task, 'Done')">Done</a></li>
  </ul>
</div>
