<div class="btn-group pull-right" role="group">
    <button type="button"
        class="btn dropdown-toggle"
        data-ng-class="{ 'btn-danger': todo.status === 'todo', 'btn-warning': todo.status === 'in-progress', 'btn-success': todo.status === 'done' }"
        data-toggle="dropdown"
        aria-expanded="false">
        {{ todo.status }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a data-ng-click="todo.status = 'todo'" href="#">To do</a></li>
        <li><a data-ng-click="todo.status = 'in-progress'" href="#">In progress</a></li>
        <li><a data-ng-click="todo.status = 'done'" href="#">Done</a></li>
    </ul>
</div>
